h1 {
    text-align: center;
    color: cornflowerblue;
  }
h2 {
  text-align: center;
  color: lightblue;
} 
#errorDog {
 
    height:50%;
    width: 50%;
    border: 2px solid cornflowerblue;
}


nav {
  background-color: cornflowerblue;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav li {
  display: inline;
  margin-right: 25px;
}
nav a {
  color:white;
  text-decoration: none;
  font-size: 1.5em;
}
nav a:hover {
  color:pink;
  text-decoration: none;
}
body {
  text-align: center;
  background-color: lightblue;
 
}
main {
  margin-right: 30px;
  margin-left: 25px;
  background-color: white;
}
div.gallery{
  margin:20px;
  border: 2px solid blue;
  float: left;
  width:680px;
}
div.gallery img{
  
  width:100%;
  height: auto;
}
div.desc{
  padding: 15px;
  text-align: center;
}